.benefits {
  &__icon-wrap {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    background-color: #f5f4fa;
    border-radius: 4px;

    /* outline: 2px solid green; */
  }

  &__icon {
  }

  /* Оформление заголовка преимуществ 
.section__title {
  margin: 0;

  color: var(--title-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

   outline: 2px solid green; 
}
*/

  /* оформление списка преимуществ */
  &__list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;

    /* outline: 2px solid yellow; */
  }

  &__item {
    width: 270px;
  }

  &__item + &__item {
    margin-left: 30px;
  }

  /* оформление преимущества */
  &__title {
    margin: 0;
    margin-bottom: 10px;

    color: var(--title-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    /* outline: 2px solid blueviolet; */
  }

  &__description {
    margin: 0;

    /* outline: 2px solid brown; */
  }
}

.section__title--visually-hidden {
  @extend %visually-hidden;
}
