.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  //   min-width: $mobile;
  width: 100%;
  height: 100%;

  // padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  z-index: 1100;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.back-drop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  max-height: 609px;
  padding: 40px;

  z-index: 1200;

  transform: translate(-50%, -50%) scale(1) rotate(5turn);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: $desktop) {
    max-width: 528px;
    max-height: 581px;
  }

  .close-button {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    padding: 0;

    background-color: #ffffff;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transform: translate(-8px, 8px);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:hover,
    &:active {
      color: var(--focus-color);
      border: 1px solid var(--focus-color);
      cursor: pointer;
    }
  }

  .appeal {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-color);
  }

  .label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    /* identical to box height */

    letter-spacing: 0.01em;
  }
}

.close-icon {
  fill: currentColor;
  /* outline: 1px solid black; */
}

.modal .input-field {
  position: relative;
  margin-bottom: 10px;
}

.modal .input {
  display: block;

  padding: 12px 42px;
  width: 100%;
  // width: 370px;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $desktop) {
    width: 448px;
  }

  &:hover {
    border-color: #2196f3;
  }
}

.input__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(12px, -50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .input-field:focus-within &,
  .input-field:hover & {
    fill: #2196f3;
  }
}

.modal .input-comments {
  display: block;
  margin-bottom: 20px;
  padding: 12px 16px;
  // width: 370px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

  @media screen and (min-width: $desktop) {
    width: 448px;
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal .policy-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: calc(14 / 12);
    /* identical to box height */
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .custom-checkbox {
    background-color: #2196f3;
    background-image: url(../images/custom-checkbox.svg);
    background-size: contain;
    background-origin: border-box;
    border: none;
  }
}

.custom-checkbox {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1.5px solid #212121;
  border-radius: 2px;
}

.modal .policy-link {
  color: #2196f3;
}

.modal .send-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.06em;

  background: #2196f3;
  color: #ffffff;
  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #2196f3;
  }
}
