/* оформление списка фильтра */
.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  list-style: none;

  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }

  //   &__item:not(:last-child) {
  //     margin-right: 8px;
  //   }
}

/* оформление кнопок фильтра */
.filter__button {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  color: var(--button-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  letter-spacing: 0.03em;
  cursor: pointer;

  border: none;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    --text-color: #ffffff;
    color: var(--text-color);
    background-color: var(--focus-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/* оформление списка проектов */
.projects {
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  /* outline: 2px solid green; */
  &__pic--no-gap {
    display: block;
  }

  /* оформление карточки проекта */
  &__link {
    text-decoration: none;
  }

  &__details {
    display: none;
    position: absolute;
    left: 0;
    top: 0;

    margin: 0;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    background-color: rgba(33, 150, 243, 0.9);
    color: #ffffff;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__desc {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;

    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;

    /* outline: 2px solid orange; */
  }
  /* офрмление названия проекта */
  &__name {
    margin: 0;
    margin-bottom: 4px;

    color: var(--title-color);
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* оформление типа проекта */
  &__type {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */

    /* outline: 2px solid orange; */
  }

  /* оформление сотостояния карточки проекта */
  &__name:active,
  &__name:hover,
  &__name:focus,
  &__type:active,
  &__type:hover,
  &__type:focus {
    color: var(--focus-color);
  }
}

.projects__item {
  width: 450px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    margin: 0;
    flex-basis: 354px;
  }
  @media screen and (min-width: $desktop) {
    margin: 0;
    flex-basis: 370px;
  }

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* outline: 2px solid red; */

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.thumb-wrap {
  position: relative;
  overflow: hidden;
}

.projects__item:hover .projects__details,
.projects__link:focus .projects__details {
  transform: translateY(0%);
}
