body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family-roboto);
  /* identical to box height, or 188% */
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
}
