/* контейнер */

.container {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

/* флексбокс */
.container--flex {
  display: flex;
  align-items: center;
}

// .container--flex-baseline {
//   display: flex;
//   align-items: baseline;
// }
