:root {
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-raleway: "Raleway", sans-serif;

  --background-color: #ffffff;
  --nav-link-color: #212121;
  --focus-color: #2196f3;
  --logo-color: #2196f3;
  --text-color: #757575;
  --title-color: #212121;
  --button-text-color: #212121;
}
